.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  .close-icon, .left-icon, .right-icon {
    cursor: pointer;
  }